<div class="card bg-dark mb-5">
  <div class="card-body">
    <span class="badge bg-secondary">{{category}}</span>
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">
      By 
      {{#if author}} 
        <span class="text-success">{{author}}</span>
      {{else}}
        <span class="text-danger">Anonymous</span>
      {{/if}}
      | {{this.date}}
    </p>
    <a href="/blog/{{slug}}" class="btn btn-primary">Read more</a>
  </div>
</div>